@media (max-width: 1440px) {
    .logo {
        img {
            width: 100px;
        }
    }

    .header__title {
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }

    .menu {
        padding-top: 10px;
    }

    .header__search {
        padding-bottom: 8px;
    }

    .header__date {
        font-size: 60px;
        span {
            font-size: 14px;
            padding-top: 0;
            margin-bottom: 5px;
        }
    }

    .header__arrows {
        left: 130px;
    }

    .surf-box__inner {
        min-height: 650px;
    }
}


@media (max-width: 1366px) {
    .header__aside {
        position: absolute;
        border-right: none;
        height: 108px;
        padding-right: 25px;
        background-color: rgba(#fff, .1);
        text-align: left;
        display: flex;
    }

    .menu {
        padding-top: 0;
    }

    .menu__list {
        text-align: center;
        li {
            display: inline-block;
        }
        a {
            padding: 15px;
        }
    }

    .header__search {
        padding: 33px 15px 15px;
    }

    .header__date {
        padding: 15px;
    }

    .header__location {
        margin-top: 42px;
    }

    .slider-item__info-title {
        font-size: 65px;
        line-height: 50px;
    }

    .slider-item__info-text {
        line-height: 30px;
    }

    .header__arrows {
        left: 20px;
        bottom: 20px;
    }
}


@media (max-width: 1340px) {
    .header__map {
        svg {
            width: 500px;
            height: 250px;
        }
    }

    .slider-arrows {
        top: 20px;
        right: 20px;
    }

    .slider-arrows__left {
        right: 60px;
    }
}


@media (max-width: 1250px) {
    .slider-map {
        max-width: 1000px;
        min-height: 515px;
    }

    .slider-map .slick-list {
        min-height: 515px;
    }

    .slider-dots--1 {
        top: 266px;

        .slider-dots__content {
            transform: translateX(0%);

            &::before {
                left: 0;
            }
        }
    }

    .slider-dots--2 {
        top: 232px;
        left: 0;

        .slider-dots__circle {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                background-image: url(../img/mini-marker.png);
                width: 14px;
                height: 17px;
                background-size: cover;
                top: -20px;
                right: -15px;
            }
        }
    }

    .slider-dots--3 {
        top: 253px;
    }

    .slider-dots--4 {
        top: 390px;
    }

    .slider-dots--5 {
        top: 180px;
    }

    .slider-dots--6 {
        top: 450px;
        left: -85px;
    }

    .slider-dots--7 {
        top: 300px;
        left: -85px;
    }

    .slider-dots--8 {
        top: 397px;
    }
}


@media (max-width: 1102px) {
    .slider-map {
        background-image: none;
        max-width: 100%;
        min-height: 280px;

        .slick-list {
            overflow: hidden;
            min-height: 280px;
        }

        .slick-track {
            min-height: 280px;
        }
    }

    .slider-dots {
        position: static;
    }

    .slider-dots__circle {
        display: none;
    }

    .slider-dots__content,
    .slider-dots--8 .slider-dots__content {
        display: block;
        transform: translateX(0);

        &:before {
            display: none;
        }
    }

    .slider-map .slick-current .slider-dots__content {
        background: rgba(#ccc, .2);
    }
}


@media (max-width: 1040px) {

    .header__arrows {
        display: none;
    }

    .menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 22;
        padding-top: 16px;
        transform: translateX(-100%);
        background-color: #000000;
        transition: all .3s linear;
        &.active {
            transform: translateX(0);
        }
    }

    .menu-btn {
        display: flex;
    }

    .header__search {
        padding: 40px 15px 15px;
    }

    .slider-item__info {
        right: 20px;
        bottom: 17px;
    }

    .slider-item__info-title {
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;
    }

    .slider-item__info-text {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .slider-item__info-suptext {
        margin-bottom: 5px;
    }

    .headline-left {
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;
    }

    .headline-left::before {
        width: 50px;
    }

    .slider-dotshead {
        position: absolute;
        right: 0;
        left: 10px;
        margin: 0 auto;
        bottom: 5px;
    }

    .dots-box {
        width: 125px;
    }

    .dots-box__number {
        font-size: 18px;
    }

    .dots-box__name {
        line-height: 18px;
    }

    .surf__subtitle {
        padding-right: 20px;
    }
}


@media (max-width: 960px) {

    .slider-dotshead {
        display: none;
    }
}


@media (max-width: 720px) {

    .title {
        div {
            font-size: 100px;
            padding-bottom: 80px;
            padding-left: 20px;
        }
    }

    .surf-slider .slider-arrows {
        top: 20px;
    }

    .surf-slider {
        padding-top: 65px;
    }

    .surf,
    .holder {
        padding: 70px 0 50px;
    }
}


@media (max-width: 520px) {
    .headline-left {
        letter-spacing: 2px;
    }

    .subtitle__head {
        font-size: 32px;
        padding-right: 0;
    }
}


@media (max-width: 460px) {
    .header__aside {
        display: block;
        text-align: center;
        padding-right: 0;
        height: 100vh;
    }

    .header__search {
        padding: 15px 0 5px;
    }

    .header__date {
        padding: 0;
        font-size: 50px;
        line-height: 45px;

        span {
            font-size: 12px;
        }
    }

    .header__location {
        margin-top: 0;
    }

    .header__title {
        display: none;
    }
}


@media (max-width: 425px) {

    .slider-map .slider-dots__content,
    .slider-map .slick-current .slider-dots__content {
        width: 250px;
        padding: 28px 15px 0;
    }
}

@media (max-width: 375px) {

    .slider-map .slider-dots__content,
    .slider-map .slick-current .slider-dots__content {
        width: 200px;
        padding: 28px 10px 0;
    }
}